/* 全体共通のところ */
body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ヘッダーのところ */
header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;

}

header .header-top {
    border-top: 6px solid #a6272d;
    border-bottom: 1px solid #a6272d;
}

header .wrap {
    margin: 0 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

header h2 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
}

header h1 a {
    color: #a6272d;
}

header .contact {
    text-align: center;
}

header .ttl {
    margin: 0;
    font-size: 14px;
}

header .tel {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

header .time {
    margin: 0;
    font-size: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav li {
    width: calc(100% / 5);
}

header nav li + li {
    border-left: 0.5px solid #666666;
}

header nav li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 28px;
}

header nav li:hover {
    border-bottom: 5px solid #a6272d;
}

header ul .ja {
    font-size: 14px;
    color: black;
}

header ul .en {
    font-size: 10px;
    color: #4d4d4d;
}

/* メインのところ */
/* サービスのところ */
main .space {
    height: 135px;
}

main .ttl-area {
    width: 100%;
    height: 300px;
    background-image: url(img/servise.png);
    background-size: cover;
}

main .ttl-mask {
    height: 100%;
    background: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .ttl {
    width: 200px;
    line-height: 32px;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 0 0 #a6272d;
    display: flex;
    flex-direction: column;
}

main .ttl .ja {
    color: black;
    font-size: 24px;
} 

main .ttl .en {
    color: #666666;
    font-size: 16px;
}

/* サービス一覧 */
main .servise-menu {
    margin-bottom: 30px;
}

main .servise-wrap {
    width: 80%;
    margin: 0 auto;
}

main .servise-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .servise-menu li {
    border: .5px solid rgb(196, 196, 196);
    box-shadow: 0 6px 0 0  rgb(196, 196, 196);
    border-radius: 5px;
    width: calc((100% - 20%)/ 2);
    margin-top: 30px;
}

main .servise-menu li:active {
    box-shadow: none;
    transform: translate3d(0, 6px, 0);
}

main .menu-ttl {
    font-weight: normal;
    font-size: 20px;
    color: white;
    margin: 0;
    line-height: 40px;
    padding-left: 10px;
}

main .menu-text {
    font-size: 16px;
    line-height: 32px;
    color: black;
    padding: 0 10px;
}

main #food {
    background-color: orange;
    border-radius: 5px 5px 0 0;
}
main #courier {
    background-color: lightgreen;
    border-radius: 5px 5px 0 0;
}
main #moving {
    background-color: skyblue;
    border-radius: 5px 5px 0 0;
}
main #taxi {
    background-color: tomato;
    border-radius: 5px 5px 0 0;
}
main #shopping {
    background-color: pink;
    border-radius: 5px 5px 0 0;
}

/* 各サービスの詳細 */
/* 共通部分 */
main .bgcolor {
    background-color: whitesmoke;
}

main .info-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

main .info-ttl {
    width: 200px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

main .servise-info span {
    color: #a6272d;
}

main .servise-info p {
    font-size: 16px;
    margin: 30px 0;
}

main .servise-info ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

main .servise-info img {
    width: 150px;
    height: 150px;
}
main .servise-info li {
    text-align: center;
}


main .servise-info li p {
    font-size: 14px;
    color: #666666;
    margin: 0;
}

main .servise-info .order {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .order-btn {
    border-radius: 10px;
    font-weight: bold;
}

main .order-btn a {
    color: white;
    font-size: 20px;
    line-height: 60px;
    padding: 0 30px;
}

/* 対応店舗例 */
.box {
    width: 50%;
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 1.5px orange;
}
.box .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    color: black;
    background: whitesmoke;
}

main .servise-info .box p {
    margin: 0; 
    padding: 0;
}

/* 各サービスページの色指定 */
/* 飲食デリバリー */
main #food-info {
    box-shadow: 5px 5px 0 0 orange;
}

main .food-color span {
    color: orange;
}

main .food-color .order p:hover {
    color: orange;
}

main .food-color .order-btn {
    background-color: orange;
    box-shadow: 0 8px 0 0 rgb(170, 111, 0);
}

main .food-color .order-btn:active {
    box-shadow: none;
    transform: translate3d(0, 8px, 0);
}

/* 宅配便サービス */
main #courier-info {
    background-color: whitesmoke;
    box-shadow: 5px 5px 0 0 lightgreen;
}

main .courier-color span {
    color: lightgreen;
}

main .courier-color .order p:hover {
    color: lightgreen;
}

main .courier-color .order-btn {
    background-color: lightgreen;
    box-shadow: 0 8px 0 0 rgb(20, 114, 20);
}

main .courier-color .order-btn:active {
    box-shadow: none;
    transform: translate3d(0, 8px, 0);
}


/* 引越しサービス */
main #moving-info {
    box-shadow: 5px 5px 0 0 skyblue;
}

main .moving-color span {
    color: skyblue;
}

main .moving-color .order p:hover {
    color: skyblue;
}

main .moving-color .order-btn {
    background-color: skyblue;
    box-shadow: 0 8px 0 0 rgb(46, 137, 173);
}

main .moving-color .order-btn:active {
    box-shadow: none;
    transform: translate3d(0, 8px, 0);
}


/* 配車サービス */
main #taxi-info {
    box-shadow: 5px 5px 0 0 tomato;
}

main .taxi-color span {
    color: tomato;
}

main .taxi-color .order p:hover {
    color: tomato;
}

main .taxi-color .order-btn {
    background-color: tomato;
    box-shadow: 0 8px 0 0 rgb(182, 54, 32);
}

main .taxi-color .order-btn:active {
    box-shadow: none;
    transform: translate3d(0, 8px, 0);
}


/* お買い物デリバリー */
main #shopping-info {
    box-shadow: 5px 5px 0 0 pink;
}

main .shopping-color span {
    color: pink;
}

main .shopping-color .order p:hover {
    color: pink;
}

main .shopping-color .order-btn {
    background-color: pink;
    box-shadow: 0 8px 0 0 rgb(184, 120, 131);
}

main .shopping-color .order-btn:active {
    box-shadow: none;
    transform: translate3d(0, 8px, 0);
}


/* フッターのところ */
footer .footer {
    display: flex;
    align-items: flex-end;
}

footer .footer a {
    font-weight: normal;
    font-size: 24px;
    color: #A6272D;
}

footer .footer ul {
    font-size: 10px;
    color: #666666;
}

footer .footer h1 {
    margin: 0 10px;
}

footer h1, p {
    margin: 0;
}

footer .end {
    background-color: #A6272D;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: white;
}

/* 中くらいのサイズの時 */
@media screen and (max-width: 959px) {
/* 各サービスの詳細 */
/* 共通部分 */
main .info-wrap {
    width: 90%;
}


main .servise-info img {
    width: 100px;
    height: 100px;
}

main .servise-info li p {
    font-size: 12px;
    color: #666666;
    margin: 0;
}

main .servise-info .order {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


main .order-btn a {
    color: white;
    font-size: 16px;
    line-height: 50px;
    padding: 0 15px;
}

}

/* 小さいサイズの時 */
@media screen and (max-width: 559px) {
/* ハンバーガーメニューがんばるぞい */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 6px solid #a6272d;
    border-bottom: 1px solid #a6272d;
}

header .header-top {
    border-top: 0 solid #a6272d;
    border-bottom: 0 solid #a6272d;
}

header .wrap {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
}

header h2 {
    font-size: 8px;
}


header .ttl {
    font-size: 8px;
}

header .tel {
    font-size: 10px;
}

header .time {
    font-size: 4px;
}


header nav ul {
    flex-direction: column;
}

header nav li {
    width: 100%;
}

header nav li + li {
    border-top: 0.5px solid #666666;
}

header nav li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 28px;
}

header nav li:hover {
    border-bottom: 0px solid #a6272d;
    background-color: whitesmoke;
}


header ul .ja {
    font-size: 14px;
    color: black;
}

header ul .en {
    font-size: 10px;
    color: #4d4d4d;
}



/* ハンバーガーメニューの見た目 */
.menuButton {
display: block;
height: 50px;
width: 50px;
position: fixed;
top: 0;
right: 0;
z-index: 2;
}

.menuButton:hover {
cursor: pointer;
}

.menuButton div {
height: 3px;
width: 60%;
border-radius: 3px;
background-color: gray;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .5s;
}

.menuButton div:nth-of-type(1) {
transform: translate(-50%, -12px);
}

.menuButton div:nth-of-type(3) {
transform: translate(-50%, 10px);
}

/* ハンバーガーメニューをクリックした後バツになる動き */
.menuButton.active div:nth-of-type(2) {
opacity: 0;
}
.menuButton.active div:nth-of-type(1) {
transform: rotate(45deg) translate(-50%, 0);
transform-origin: 0% 50%;
}
.menuButton.active div:nth-of-type(3) {
transform: rotate(-45deg) translate(-50%, 0);
transform-origin: 0% 50%;
}

/* ドロップダウンメニュー */
nav {
width: 100%;
visibility: hidden;
transition: .5s;
background-color: white;
text-align: center;
position: fixed;
top: -300px;
left: 0;
z-index: 1;
}

nav ul {
list-style: none;
box-shadow: 0 1px 3px 3px gray;
}

nav a {
color: gray;
}

nav.active {
opacity: 1;
visibility: visible;
top: 0;
}


/* メインのところ */
main .space {
    height: 62px;
}

main .ttl-area {
    width: 100%;
    height: 150px;
}

main .ttl {
    width: 110px;
    line-height: 20px;
    box-shadow: 7px 7px 0 0 #a6272d;
}

main .ttl .ja {
    font-size: 18px;
} 

main .ttl .en {
    font-size: 10px;
}

/* サービス一覧 */
main .servise-menu ul {
    display: flex;
    flex-direction: column;
}

main .servise-menu li {
    width: 100%;
}

main .menu-ttl {
    font-size: 16px;
    line-height: 32px;
    text-align: left;
}

main .menu-text {
    font-size: 12px;
    line-height: 24px;
    text-align: left;
}

/* 共通部分 */
main .info-wrap {
    width: 90%;
}

main .info-ttl {
    width: 150px;
    font-size: 16px;
    line-height: 32px;
    margin: 0 auto;
}

main .servise-info p {
    font-size: 12px;
}

main .servise-info ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .servise-info li {
    margin-bottom: 20px;
}

main .servise-info .order {
    display: flex;
    flex-direction: column;
}

/* 対応店舗例 */
.box {
    margin: 10px auto;
}

/* フッターのところ */
footer .footer a {
    font-size: 20px;
}

footer .footer ul {
    font-size: 6px;
}

footer p {
    font-size: 6px;
}
    
}